# {{ ansible_managed }}

{% if strongswan_conn is defined and strongswan_conn|length > 0 %}
{% for item in strongswan_conn %}
{% set authby = item.conn.authby if item.conn.authby is defined else strongswan_conn_default.authby %}
# {{ item.name }}
{% if authby == 'psk' or authby == 'secret' %}
{{ item.left.address }} {{ item.right.address }} : PSK "{{ item.secret }}"
{% elif authby == 'rsasig' or authby == 'ecdsasig' %}
{{ item.left.address }} {{ item.right.address }} : "{{ item.secret }}"
{% elif authby == 'pubkey' %}
{% if item.left.address == '%defaultroute' and item.right.address == '%any' %}
: ECDSA "{{ item.secret }}"
{% else %}
{{ item.left.address }} {{ item.right.address }} : ECDSA "{{ item.secret }}"
{% endif %}
{% endif %}

{% endfor %}
{% endif %}
